template<typename T, bool aligned>
inline AMAL_CONSTEXPR AMAL_NMAT({{C2}}, {{R1}}) operator*(
    AMAL_NMAT({{C1}}, {{R1}}) const& m1,
    AMAL_NMAT({{C2}}, {{R2}}) const& m2)
{
    AMAL_NMAT({{C2}}, {{R1}}) out;
{%- for line in implementation %}
        {{ line }}{{ "" if not loop.last else "" }}
{%- endfor %}
    return out;
}