template<typename T, bool aligned>
inline {{constexpr}} AMAL_NMAT_MUL_NOSIMD({{C1}}, {{R1}}, {{C2}}, {{R2}}) operator*(
    AMAL_NMAT({{C1}}, {{R1}}) const& m1,
    AMAL_NMAT({{C2}}, {{R2}}) const& m2)
{
    return AMAL_NMAT({{C2}}, {{R1}}){
{%- for line in implementation %}
        {{ line }}{{ "," if not loop.last else "" }}
{%- endfor %}
    };
}